@model ArticlesWithTagsForTagPageListingModel
@{
    ViewData["Title"] = $"Articles for [{Model.Title}]";
}

<h2>@ViewData["Title"]</h2>

@await Html.PartialAsync("_ArticlesListing", Model.ArticlesContainer.Articles)

@await Html.PartialAsync("_Pagination", Model.ArticlesContainer)