@model ArticlesWithTagsPageListingModel
@{
    ViewData["Title"] = "Economics Articles";
}

<h2>@ViewData["Title"]</h2>

@await Html.PartialAsync("_ArticlesListing", Model.Articles)

@await Html.PartialAsync("_Pagination", Model)
