body {
    padding-top: 50px;
    padding-bottom: 50px;
    color:saddlebrown;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.corner-title {
    margin-top:0.5em;
    height:2em;
}

.navbar {
    background-color: antiquewhite;
    border-bottom: 1px solid orange;
}

.render-body {
    /*border: 3px solid brown;
    border-radius: 0.3em;
    background-color:antiquewhite;*/
}

a {
    color: orange;
}

a:hover {
    color: brown;
    text-decoration: none;
}

.navbar a,
.navbar .navbar-brand,
.navbar .navbar-nav > li > a {
    color: orange;
}

.navbar a:hover,
.navbar .navbar-brand:hover,
.navbar .navbar-nav > li > a:hover {
    color: brown;
    text-decoration: none;
    background-color: antiquewhite;
}

.navbar .navbar-toggle .icon-bar {
    background-color: orange;
}

.navbar .navbar-toggle:hover .icon-bar, .navbar .navbar-toggle:focus .icon-bar {
    background-color: brown;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
    background-color: antiquewhite;
    border: 1px solid brown;
}

.panel-info > .panel-heading {
    color: brown;
    background-color: orange;
    border-color: orange;
}

.panel-title a {
    font-weight: bold;
}

.panel-title a:hover {
    text-decoration: none;
}

.panel-info {
    border-color: orange;
}

.form-control {
    color: brown;
    border-color: brown;
}

.input-group-addon, .btn-default {
    color: brown;
    background-color: antiquewhite;
    border-color: brown;
}

.btn-default:hover {
    color: brown;
    border-color: brown;
}

.btn-link {
    color: orange;
}

.btn-link:hover {
    color: brown;
    text-decoration:none;
}

.tags-container {
    margin: 20px auto;
}

.tags-list {
    margin-bottom: 0.2em;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: brown;
    background-color: orange;
    border-color: orange;
}

.pagination > li > a, .pagination > li > span {
    color: brown;
}

.subheader {
    font-style: italic;
    font-size: 0.8em;
}

.article-text {
    margin-bottom: 2em;
}

.resource-container {
}

.search-bar-container {
    margin-top: 1.5em;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-1em {
    margin-bottom: 1em;
}

.centered-text {
    text-align: center;
}

.float-left {
    float: left;
    clear: both;
}

.float-right {
    float: right;
    clear: both;
}

.display-inline {
    display:inline-block;
}

.footer {
    background-color: #fff;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1030;
    border-top: 1px solid orange;
}

.footer a {
    color: orange;
}

.footer a:hover {
    color: brown;
    text-decoration: none;
}

.footer-contents {
    margin-top: 0.5em;
    text-align: center;
    color: orange;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media screen and (max-width: 420px) {    
    .logo {
        display: none;
    }
}

@media screen and (max-width: 390px) {
    .corner-title {
        display: none;
    }
    .logo {
        display: block;
    }
}