@{
    ViewData["Title"] = "About me";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <p>Hi!</p>
        <p>My name is Petar 'Peschu' Kanev and this is my personal blog. Currently I am working as a software developer. My previous jobs also include being an economics teacher in the International Baccalaureate as well as an economic analyst for few governmental and non-governmental organizations in Bulgaria. Finally, I’m passionate about music, which would be the reason why I decided to include a special section on it here.</p>
        <p>The purpose of the present site would be to give me an opportunity to share some of my experience and knowledge with the rest of the world. Feel free to browse around and check out the articles on the various topics. Feel free also to visit my <a href="https://www.youtube.com/channel/UCKl1E_Vqko2g1IpGDS1BnYA" target="_blank">YouTube channel</a> or my <a href="https://github.com/pkanev" target="_blank">GitHub</a> page.</p>
        <p>Thank you for taking the time to visit!</p>
        <p>Peschu</p>
    </div>
    <div class="col-md-6">
        <img src="~/images/loading-xlg-split.gif" title="Peschu" alt="Peschu" />
    </div>
</div>