
@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>

<p>Thank you for wishing to contact me. You can send me an email at <a href="mailto:peschu@peschuscorener.com">peschu@peschuscorener.com</a> or contact me either via my <a href="https://www.youtube.com/channel/UCKl1E_Vqko2g1IpGDS1BnYA" target="_blank">YouTube channel</a> or my <a href="https://www.linkedin.com/in/petar-kanev-9aa8a640/" target="_blank">LinkedIn</a> page.</p>